.sideMenu {

    background-color: chocolate;

}

.sideMenu li{
    background-color: cadetblue;
    padding: 9px;
    margin: 6px;
}

#contain{
    display: flex;
}

#top_menu li{
    display: inline;
    padding: 9px;
    margin: 6px;
    background-color: darkgray;
}


li{
    border-radius: 9px;
}

#bottom_menu li{
    display: inline;
    padding: 9px;
    margin: 12px;
    background-color: darkgray;
    

}

#sidebar_1{
    flex: 1;
    background-color: darkgoldenrod;
    align-items: center;
    justify-content: center;
}

#sidebar_1 li
{
    padding: 9px;
    margin: 8px;
    background-color: darkgray;
    color: burlywood;
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    list-style-type: none;
    text-align: center;
}

#sidebar_1 li a{
    text-decoration:none; 
}

#sidebar_2 div
{
    padding: 9px;
    margin: 6px;
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);;
    list-style-type: none;
    text-align: center;
}

#the_date{
    display: flex;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 8px;
    margin-right: 8px;
    height: 75px;
    align-items: flex-start;
    background-color: darkslategrey;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

#the_date span,h1{
    padding: 0px;
}


#sidebar_2{
    flex: 1;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
}

#MainStuff{
    flex: 5;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: chocolate;
}

#MainStuff div{
    display: inline-flex;
    width: 200px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 8px;
    margin-right: 8px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
    justify-content: center;
}

footer{
    display: flex;
    background-color:rgb(82, 73, 62);
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    background-color:rgb(82, 73, 62);
    align-items: center;
    justify-content: center;
}